

<div class="jumbotron text-center">
  <h1 class="display-4 m-3">About</h1>
  <p class="lead">ながのCAKEは全国発送可能なケーキ屋です。
お子様からお年寄りの方までお召し上がりいただけるよう、様々なバリエーションを
ご用意しております。また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
ぜひご注文ください。</p>
<div class="row justify-content-center">
<div class="col-md-6 mt-5 w-50" >
  <p><%= image_tag "cover/s.jpg", class:"img-fluid"%></p>
</div>
</div>
</div>